@model IEnumerable<Proyecto_Gestion_TI.Models.Consulta>
@{
    ViewBag.Titulo = "Mis Consultas";
}

<div class="row">

    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="full price_table padding_infor_info">
                <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive-sm">
                        <table class="table table-striped projects">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 2%">No</th>
                                    <th style="width: 30%">Titulo Consulta</th>
                                    <th>Fecha Creacion</th>
                                    <th>Adjuntos</th>
                                    @if (ViewBag.Tipo == "RRHH")
                                        {
                                            <th>Empleado</th>
                                        }
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CodigoConsulta</td>
                                            <td>
                                                <a asp-action="Detail" asp-controller="HistorialConsulta" asp-route-id="@item.CodigoConsulta">@item.TituloConsulta</a>
                                            </td>
                                            <td>
                                                <a>@Convert.ToDateTime(item.FechaConsulta).ToShortDateString()</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-paperclip"></i>
                                            </td>
                                            
                                            @if(ViewBag.Tipo == "RRHH")
                                            {
                                                <td>
                                                    <a asp-action="Detail" asp-controller="ComentariosConsulta" asp-route-id="@item.CodigoConsulta">@item.CodigoEmpleadoNavigation.NombreEmpleado</a>
                                                </td>
                                            }

                                            <td>
                                                @if(item.EstadoConsulta.Equals(1))
                                                {
                                                    <button type="button" class="btn btn-success btn-xs">Abierto</button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-danger btn-xs">Cerrado</button>
                                                }                                                
                                            </td>
                                        </tr>                                        
                                    }                           
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>