@model Proyecto_Gestion_TI.Models.Consulta
@{
    ViewBag.Titulo = "Detalle de consulta";
}
@{
    IEnumerable<ComentariosConsulta> listaComentarios = ViewData["Comentarios"] as IEnumerable<ComentariosConsulta>;
}

<div class="row">

    <div class="col-md-12">
        <div class="white_shd full margin_bottom_15">

            <div class="full graph_head">
                <div class="heading1 margin_0">
                <h2>@Model.TituloConsulta</h2>
                </div>
            </div>

            <div class="table_section padding_infor_info">                
                    
                <div class="row margin_bottom_15">
                    <div class="col-6">
                        <label >Codigo de consulta</label>
                        <span class="form-control">@Model.CodigoConsulta</span>
                    </div>

                    <div class="col-6">
                        <label>Fecha de creacion</label>
                        <span class="form-control">@Convert.ToDateTime(Model.FechaConsulta).ToShortDateString()</span>
                    </div>
                </div>
                
                <div class="row margin_bottom_15">
                    
                    <div class="col-6">
                        <label >Empleado</label>
                        <span class="form-control">@Model.CodigoEmpleadoNavigation.NombreEmpleado</span>
                    </div>

                    <div class="col-6">
                        <label>Estado</label>
                        @if(Model.EstadoConsulta.Equals(1))
                        {
                            <span class="form-control">Abierto</span>
                        }
                        else
                        {
                            <span class="form-control">Cerrado</span>   
                        }                         
                    </div>
                    
                </div>

                <div class="row margin_bottom_15">
                    <div class="col-12">
                        <label>Descripcion</label>
                        <span class="form-control h-100">@Model.DescripcionConsulta</span>                                                
                    </div>
                </div>    
                
            </div>
        </div> 

    </div>

    <div class="col-md-12">
        <div class="white_shd full margin_0">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                <h2>Comentarios</h2>
                </div>
            </div>
            <div class="full progress_bar_inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="msg_section">
                            <div class="msg_list_main">
                                <ul class="msg_list">

                                    @foreach (var comentario in listaComentarios)
                                    {
                                        <li>
                                            <span><img src="~/images/layout_img/msg2.png" class="img-responsive" alt="#" /></span>
                                            <span>
                                            <span class="name_user">@comentario.CodigoConsultaNavigation.CodigoEmpleadoNavigation.NombreEmpleado</span>
                                            <span class="msg_user">@comentario.Comentario</span>
                                            <span class="time_ago">@Convert.ToDateTime(comentario.FechaComentario).ToShortDateString()</span>
                                            </span>
                                        </li>
                                    }                                
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
   </div>

   <div class="col-md-12">
        <div class="white_shd full margin_bottom_15">

            <div class="table_section padding_infor_info">                
                    
                <div class="row margin_bottom_15">
                    <div class="col-12">
                        <textarea class="form-control" rows="4" placeholder="Haz un comentario" ></textarea>
                    </div>
                </div>
                
                <div class="row margin_bottom_15">
                    <div class="col-6">
                        
                    </div>

                    <div class="col-6">
                        <button class="btn btn-success float-right">Agregar</button>
                    </div>

                </div>
                
            </div>
        </div> 

    </div>


</div>

