@model Proyecto_Gestion_TI.Models.RutaAprobacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RutaAprobacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoAprobador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoAprobador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAprobacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAprobacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoDepartamentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoDepartamentoNavigation.CodigoDepartamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodigoRuta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
