    @model IEnumerable<Proyecto_Gestion_TI.Models.RutaAprobacion>
@{
    ViewBag.Titulo = "Mantenimiento de Rutas de Aprobacion";
}


<div class="row margin_bottom_15" > 
    <div class="col-md-12">
        <a class="btn btn-primary btn-small" asp-area="" asp-controller="RutaAprobacion" asp-action="Create">
            <i class="fa fa-plus"></i> <span>Ingresar nueva Ruta de Aprobacion</span>
        </a>
    </div>
           
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                <h2>Listado de Rutas de Aprobacion</h2>
                </div>
            </div>
            <div class="table_section padding_infor_info">
                <div class="table-responsive-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Codigo Ruta</th>
                            <th>Codigo Aprobador</th>
                            <th>Codigo Departamento</th>
                            <th>Descripcion</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.CodigoRuta)</td>
                                <td>@Html.DisplayFor(modelItem => item.CodigoAprobador)</td>
                                <td>@Html.DisplayFor(modelItem => item.CodigoDepartamento)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td>

                                    <a class="btn btn-success btn-xs" asp-action="Edit" asp-controller="RutaAprobacion" asp-route-id="@item.CodigoRuta">
                                        <i class="fa fa-pencil white_color2"></i> 
                                    </a>

                                    <a class="btn btn-danger btn-xs" asp-action="Delete" asp-controller="RutaAprobacion" asp-route-id="@item.CodigoRuta">
                                        <i class="fa fa-trash white_color2" ></i> 
                                    </a>
                                                              
                                </td>
                            </tr>   
                        }
                        
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

</div>

