@{
    ViewBag.Titulo = "Dashboard";
    IEnumerable<SolicitudVacacione> listaSolicitudes = ViewData["Solicitudes"] as IEnumerable<SolicitudVacacione>;
    IEnumerable<Consulta> listaConsultas = ViewData["Consultas"] as IEnumerable<Consulta>;
}



<div class="row column1">
    <div class="col-md-6 col-lg-4">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div> 
                <i class="fa fa-user yellow_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                <p class="total_no">30</p>
                <p class="head_couter">Dias Vacaciones</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div> 
                <i class="fa fa-inbox blue1_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                <p class="total_no">3</p>
                <p class="head_couter">Consultas Abiertas</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div> 
                <i class="fa fa-map green_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                <p class="total_no">5</p>
                <p class="head_couter">Solicitudes Abiertas</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="dark_bg full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                <h2>Ultimas noticias</h2>
                </div>
            </div>
            <div class="full graph_revenue">
                <div class="row">
                <div class="col-md-12">
                    <div class="content testimonial">
                        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="img-box"><img src="images/layout_img/user_img.jpg" alt=""></div>
                                <p class="testimonial">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae..</p>
                                <p class="overview"><b>Michael Stuart</b>Seo Founder</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="images/layout_img/user_img.jpg" alt=""></div>
                                <p class="testimonial">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae..</p>
                                <p class="overview"><b>Michael Stuart</b>Seo Founder</p>
                            </div>
                            <div class="item carousel-item">
                                <div class="img-box"><img src="images/layout_img/user_img.jpg" alt=""></div>
                                <p class="testimonial">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae..</p>
                                <p class="overview"><b>Michael Stuart</b>Seo Founder</p>
                            </div>
                            </div>
                            <!-- Carousel controls -->
                            <a class="carousel-control left carousel-control-prev" href="#testimonial_slider" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control right carousel-control-next" href="#testimonial_slider" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row column4 graph">
    <div class="col-md-6 margin_bottom_30">
        <div class="dash_blog">
            <div class="dash_blog_inner">
                <div class="dash_head">
                    <h3>
                        <span>
                            <i class="fa fa-calendar"></i> @ViewBag.Fecha
                        </span>
                        
                    </h3>
                </div>
                <div class="list_cont">
                    <p>Mis Solicitudes de vacaciones</p>
                </div>
                <div class="task_list_main">
                    <ul class="task_list">
                        @foreach(var item in listaSolicitudes)
                        {
                            <li><a>@item.DescripcionSolicitud</a><br><strong>@Convert.ToDateTime(item.FechaInicial).ToShortDateString()</strong></li>
                        }
                    </ul>
                </div>
                <div class="read_more">
                    <div class="center"><a class="main_bt read_bt" href="#">Read More</a></div>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dash_blog">
            <div class="dash_blog_inner">
                <div class="dash_head">
                    <h3>
                        <span>
                            <i class="fa fa-comments-o"></i> Mis Consultas
                        </span>
                     </h3>
                </div>
                <div class="list_cont">
                <p>Consultas Abiertas</p>
                </div>
                <div class="msg_list_main">
                    <ul class="msg_list">

                        @foreach(var item in listaConsultas)
                        {
                            <li>
                                <span><img src="~/images/layout_img/msg2.png" class="img-responsive" alt="#" /></span>
                                <span>
                                    <span class="name_user">@item.CodigoEmpleadoNavigation.NombreEmpleado</span>
                                    <span class="msg_user">@item.TituloConsulta</span>
                                    <span class="time_ago">@Convert.ToDateTime(item.FechaConsulta).ToShortDateString()</span>
                                </span>
                            </li>
                        }                       
                        
                    </ul>
                </div>

                <div class="read_more">
                <div class="center"><a class="main_bt read_bt" href="#">Read More</a></div>
                </div> 
            </div>
        </div>
    </div>
</div>
